/*=================================================================================
 [Reset]
=================================================================================*/

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset
{
	margin: 0;
	padding: 0;
}

img, fieldset
{
	border: 0;
}

/* set image max width to 100% */
img
{
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	margin-bottom: -3px;
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{ 
	display: block;
}

/* reset webkit search input styles */
input
{
	-webkit-appearance: none;
	outline: none;
}

input::-webkit-search-decoration, 
input::-webkit-search-cancel-button
{
	display: none;
}

/*===============================================================================*/

/*=================================================================================
 [Common]
=================================================================================*/

body
{
	background: #FFF url(images/background.jpg);
	/* background-attachment: fixed; */
	font: .71em Verdana, Arial, Helvetica, sans-serif;
	color: #eee;
	overflow-y: scroll;
}

img
{
	border: none;
}

a
{
	color: #FFF;
	text-decoration: none;
	outline: none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-khtml-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
}

a:hover
{
	color: #ffd800;
	text-shadow: #ffd800 0px 0px 5px;
}

input[type="submit"], input[type="button"], input[type="reset"]
{
	background: #3b3d41;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
	cursor: pointer;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px #26282b solid;
	border-top: 1px #505866 solid;
	border-left: 1px #505866 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover
{
	color: #ffd800;
	text-shadow: #ffd800 0px 0px 5px;
	box-shadow: 0 1px 5px #ffd800;
	-moz-box-shadow: 0 1px 5px #ffd800;
	-khtml-box-shadow: 0 1px 5px #ffd800;
	-webkit-box-shadow: 0 1px 5px #ffd800;
}

input[type="text"], input[type="number"]
{
	background: #3b3d41;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffd800;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px #26282b solid;
	border-bottom: 1px #505866 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: inset 0 0 3px 3px #323437;
	-moz-box-shadow: inset 0 0 3px 3px #323437;
	-khtml-box-shadow: inset 0 0 3px 3px #323437;
	-webkit-box-shadow: inset 0 0 3px 3px #323437;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

input[type="text"]:focus
{
	box-shadow: inset 0 0 1px 1px #ffd800;
	-moz-box-shadow: inset 0 0 1px 1px #ffd800;
	-khtml-box-shadow: inset 0 0 1px 1px #ffd800;
	-webkit-box-shadow: inset 0 0 1px 1px #ffd800;
}

select
{
	background: #3b3d41;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFF;
	border: 1px #26282b solid;
	border-top: 1px #505866 solid;
	border-left: 1px #505866 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

select:focus
{
	color: #ffd800;
	text-shadow: #ffd800 0px 0px 5px;
	box-shadow: 0 1px 5px #ffd800;
	-moz-box-shadow: 0 1px 5px #ffd800;
	-khtml-box-shadow: 0 1px 5px #ffd800;
	-webkit-box-shadow: 0 1px 5px #ffd800;
}

option
{
	border: 1px #26282b solid;
	border-top: 1px #505866 solid;
	border-left: 1px #505866 solid;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.error
{
	color: #FF0000;
}

/*===============================================================================*/

/*=================================================================================
 [Structure]
=================================================================================*/

main
{
	background: url(images/background3.png);
	width: 900px;
	margin: 10px auto 0;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: 0 1px 10px rgba(0,0,0, 1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0, 1);
	-khtml-box-shadow: 0 1px 10px rgba(0,0,0, 1);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0, 1);
}

header
{
	background: #3b3b3b url(images/header.png) center center;
	height: 175px;
	position: relative;
	border-bottom: 1px #ffd800 solid;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

footer
{
	background: #3b3b3b;
	font-weight: bold;
	color: #ffd800;
	text-shadow: #000 0px 0px 5px;
	padding: 5px;
	margin-top: 10px;
	clear: both;
	border-top: 1px #ffd800 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

#content
{
	display: flex;
}

#content-left
{
	width: 20%;
	display: inline-table;
	float: left;
}

#content-right
{
	width: 80%;
	display: inline-table;
	float: left;
}

/*===============================================================================*/

/*=================================================================================
 [Navigation]
=================================================================================*/

#nav
{
	background: url(images/background3.png);
	margin: 5px;
	padding: 0px;
	width: auto;
	overflow: hidden;
	color: white;
	text-align: left;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
}

#nav ul li div a
{
	display: block;
	background: #3b3d41;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	border: 1px #26282b solid;
	border-top: 1px #505866 solid;
	border-left: 1px #505866 solid;
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-khtml-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}

#nav ul li div a:hover
{
	background: #303235;
	color: #ffd800;
	text-shadow: #ffd800 0px 0px 5px;
}

#nav span
{
	display: block;
	background: #3b3d41;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	border: 1px #26282b solid;
	border-top: 1px #505866 solid;
	border-left: 1px #505866 solid;
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-khtml-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}

#nav span:hover
{
	background: #303235;
	color: #ffd800;
	text-shadow: #ffd800 0px 0px 5px;
}

/*list items*/
#nav li
{
	list-style-type: none;
}

/*links*/
#nav ul ul li a
{
	display: block;
	padding: 5px;
	transition: all 0.15s;
	-moz-transition: all 0.15s;
	-khtml-transition: all 0.15s;
	-webkit-transition: all 0.15s;
}

/*hover effect on links*/
#nav ul ul li a:hover
{
	background: #303030;
	border-left: 5px #ffd800 solid;
}

/*Lets hide the non active LIs by default*/
#nav ul ul
{
	display: none;
}

#nav li.active ul
{
	display: block;
}

/*===============================================================================*/

/*=================================================================================
 [Menu]
=================================================================================*/

.menu
{
	background: #404040;
	background: url(images/background3.png);
	width: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.menu .head
{
	width: auto;
	margin-bottom: 10px;
	padding: 5px;
	font-weight: bold;
	color: #ffd800;
	text-align: left;
	border-bottom: 1px solid #ffd800;
}

/*===============================================================================*/

/*=================================================================================
 [Table]
=================================================================================*/

.dtable
{
	width: 100%;
}

.dtable .head td
{
	background: url(images/background4.png);
	font-weight: bold;
	color: #FFF;
	
}

.dtable th
{
	background: url(images/background4.png);
	padding: 5px;
	font-weight: bold;
	color: #FFF;
}

.dtable td
{
	background: url(images/background2.png);
	padding: 5px;
}

.dtable .left
{
	text-align: left;
	width: 1%;
	padding: 3px;
}

.dtable .right
{
	background: url(images/background4.png);
	color: #FFF;
	text-align: right;
	font-weight: bold;
	width: 1%;
	padding: 3px;
}

/*===============================================================================*/